<div id="accountContainer" style="display: none;"
     class="container-fluid flex-1 justify-items-stretch justify-center items-center">
    <div class="text-yellow-500 p-4 text-2xl">
        <h3 class="font-bold pl-2">Mon compte FoxCraft</h3>
    </div>
    <div class="container mx-auto ">
        <div class="relative light:bg-white dark:bg-gray-800 md:w-full p-10">
            <div>
                <div class="shadow-xl rounded-2xl p-4 bg-white dark:bg-gray-800 w-64 m-auto">
                    <div class="toastWrap"></div>
                    <div class="w-full text-center">
                        <div class="flex flex-col items-center justify-between">





                        </div>
                    </div>
                </div>
            </div>
            <script src="./assets/js/scripts/register.js"></script>
        </div>
    </div>
</div>
