<div id="frameBar">
    <div id="frameResizableTop" class="frameDragPadder"></div>
    <div id="frameMain">
        <div class="frameResizableVert frameDragPadder"></div>
        <%if (process.platform === 'darwin') { %>
            <div id="frameContentDarwin">
                <div class="flex justify-start items-center">
                    <span id="frameButton_close" class="px-2 py-2 text-base rounded-full bg-red-400 fCb" style="margin: 5px"></span>
                    <span id="frameButton_reduct" class="px-2 py-2 text-base rounded-full bg-yellow-400 fMb" style="margin: 5px"></span>
                    <span id="frameButton_max" class="px-2 py-2 text-base rounded-full bg-green-400 fRb" style="margin: 5px"></span>
                </div>
            </div>
        <% } else{ %>
        <div id="frameButtonDockWin">
        <div class="flex justify-start items-center">
                <span id="frameButton_close" class="px-2 py-2 text-base rounded-full bg-red-400 fCb" style="margin: 5px"></span>
                <span id="frameButton_reduct" class="px-2 py-2 text-base rounded-full bg-yellow-400 fMb" style="margin: 5px"></span>
                <span id="frameButton_max" class="px-2 py-2 text-base rounded-full bg-green-400 fRb" style="margin: 5px"></span>
            </div>
        </div>
        <% } %>
    </div>
    <div class="frameResizableVert frameDragPadder"></div>
</div>