<div id="welcomeContainer" style="display: none;" class="container-fluid flex-1 justify-items-stretch justify-center items-center">

    <div class="text-yellow-500 p-4 text-2xl">
        <h3 class="font-bold pl-2">Bienvenue sur FoxCraft</h3>
    </div>

    <div class="container mx-auto ">
        <div class="relative bg-white md:w-full p-10">
                <div class="shadow-xl rounded-2xl p-4 bg-white dark:bg-gray-800 w-64 m-auto">
                    <div class="w-full text-center">
                        <div class="flex flex-col items-center justify-between">
                            <p class="text-sm text-gray-600 dark:text-gray-100 text-center px-5">
                            Bonjour et merci d'avoir téléchargé notre launcher. Nous éspérons que votre aventure soit la meilleur possible !
                            </p>
                            <div class="flex items-center justify-between gap-4 w-full mt-8">
                                <button id="welcomeButton" type="button" class="py-2 px-4  bg-gradient-to-r from-yellow-400 to-yellow-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">
                                    Je l'espère :o
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            <script src="./assets/js/scripts/welcome.js"></script>
        </div>
    </div>
</div>
